---
layout: posts
permalink: /canvera-wedding-album/
comments: false

image:
  main: https://farm1.staticflickr.com/327/31935203311_c0d46f0561.jpg
  datasrcset: 'https://farm1.staticflickr.com/327/31935203311_c0d46f0561_n.jpg 320w, https://farm1.staticflickr.com/327/31935203311_c0d46f0561.jpg 500w, https://farm1.staticflickr.com/327/31935203311_c0d46f0561_z.jpg 640w, https://farm1.staticflickr.com/327/31935203311_c0d46f0561_c.jpg 800w, https://farm1.staticflickr.com/327/31935203311_c0d46f0561_b.jpg 1024w, https://farm1.staticflickr.com/327/31935203311_fb78c68a1f_h.jpg 1600w, https://farm1.staticflickr.com/327/31935203311_ed5df36f01_k.jpg 2048w'

title: Memories in a Box &mdash; The 12x12 Canvera Wedding Album
excerpt: Here is where your memories will finally be stored. The all new 12X12 Hard Cover Luxury Neo Flush Mount Album.
---

<div class="container-fluid post">
<section class="row justified">
  <div class="col-lg-12">
    <h1>{{ page.title }}</h1>
    <p>Here is where your wedding memories will finally be stored. Your grandkids may puke on it, but you will able to wipe the puke off and continue viewing the photos without any issue. To give you some stats - the book is 12 inches high and wide. It is pretty light to lug around, and can also be used as a cutting board if required. But yeah, you would not want to do that. Your grandmother will love looking at it. If you don't have a living grandmother, just show it to some random old lady and seek her approval.</p>
    <p>Okay now for some photos. With a six language speaking, South-Indian wife of above average height, to scale.</p>

    {% include image.html
      loc="https://farm1.staticflickr.com/574/32053184975_13893de84e_n.jpg"
      alt="Canvera Album"
      datasrcset="https://farm1.staticflickr.com/574/32053184975_13893de84e_n.jpg 320w, https://farm1.staticflickr.com/574/32053184975_13893de84e.jpg 500w, https://farm1.staticflickr.com/574/32053184975_13893de84e_z.jpg 640w, https://farm1.staticflickr.com/574/32053184975_13893de84e_c.jpg 800w, https://farm1.staticflickr.com/574/32053184975_13893de84e_b.jpg 1024w, https://farm1.staticflickr.com/574/32053184975_7adaf0123a_h.jpg 1600w, https://farm1.staticflickr.com/574/32053184975_5f9dcaa2f4_k.jpg 2048w" %}

    <p>Alright, now let's zoom in a bit.</p>

    {% include image.html
    loc="https://farm1.staticflickr.com/643/31905102532_71c9a7df00_n.jpg"
    alt="Canvera Album"
    datasrcset="https://farm1.staticflickr.com/643/31905102532_71c9a7df00_n.jpg 320w, https://farm1.staticflickr.com/643/31905102532_71c9a7df00.jpg 500w, https://farm1.staticflickr.com/643/31905102532_71c9a7df00_z.jpg 640w, https://farm1.staticflickr.com/643/31905102532_71c9a7df00_c.jpg 800w, https://farm1.staticflickr.com/643/31905102532_71c9a7df00_b.jpg 1024w, https://farm1.staticflickr.com/643/31905102532_d881560fe3_h.jpg 1600w, https://farm1.staticflickr.com/643/31905102532_5d6780ffeb_k.jpg 2048w" %}

    <p>Look at that bag! Jute. Wow. Now scroll back up and look at that ring! I've lost mine. But that's fine. I've replaced it with a cheap metal one that I found at a Russian monastery, which spins. The ring spins. Not the monastery.</p>

    {% include image.html
    loc="https://farm1.staticflickr.com/751/31678268610_5fa65fbfa2_n.jpg"
    alt="Canvera Album"
    datasrcset="https://farm1.staticflickr.com/751/31678268610_5fa65fbfa2_n.jpg 320w, https://farm1.staticflickr.com/751/31678268610_5fa65fbfa2.jpg 500w, https://farm1.staticflickr.com/751/31678268610_5fa65fbfa2_z.jpg 640w, https://farm1.staticflickr.com/751/31678268610_5fa65fbfa2_c.jpg 800w, https://farm1.staticflickr.com/751/31678268610_5fa65fbfa2_b.jpg 1024w, https://farm1.staticflickr.com/751/31678268610_0feaa60812_h.jpg 1600w, https://farm1.staticflickr.com/751/31678268610_fdbfff4d6f_k.jpg 2048w" %}

    <p>Yeah, we are at the <a href="http://happyfeet.us/big-picture/evenings-capela-da-nossa-senhora-do-monte-old-goa/" target="_blank">Capela de Nossa Senhora do Monte</a>. Pretty cool place. We hang around here quite often.</p>

    <div class="row">
      <div class="col-md-6">
        {% include image.html
        loc="https://farm1.staticflickr.com/765/32014221456_99e7788591_n.jpg"
        alt="Canvera Album"
        datasrcset="https://farm1.staticflickr.com/765/32014221456_99e7788591_n.jpg 320w, https://farm1.staticflickr.com/765/32014221456_99e7788591.jpg 500w, https://farm1.staticflickr.com/765/32014221456_99e7788591_z.jpg 640w, https://farm1.staticflickr.com/765/32014221456_99e7788591_c.jpg 800w, https://farm1.staticflickr.com/765/32014221456_99e7788591_b.jpg 1024w, https://farm1.staticflickr.com/765/32014221456_2389768540_h.jpg 1600w, https://farm1.staticflickr.com/765/32014221456_aa38e74cb0_k.jpg 2048w" %}
      </div>
      <div class="col-md-6">
        {% include image.html
        loc="https://farm1.staticflickr.com/459/31212316074_9626b7f685_n.jpg"
        alt="Canvera Album"
        datasrcset="https://farm1.staticflickr.com/459/31212316074_9626b7f685_n.jpg 320w, https://farm1.staticflickr.com/459/31212316074_9626b7f685.jpg 500w, https://farm1.staticflickr.com/459/31212316074_9626b7f685_z.jpg 640w, https://farm1.staticflickr.com/459/31212316074_9626b7f685_c.jpg 800w, https://farm1.staticflickr.com/459/31212316074_9626b7f685_b.jpg 1024w, https://farm1.staticflickr.com/459/31212316074_7089a0bc0b_h.jpg 1600w, https://farm1.staticflickr.com/459/31212316074_db2f9785e8_k.jpg 2048w" %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {% include image.html
        loc="https://farm1.staticflickr.com/434/31935374681_566518376a_n.jpg"
        alt="Canvera Album"
        datasrcset="https://farm1.staticflickr.com/434/31935374681_566518376a_n.jpg 320w, https://farm1.staticflickr.com/434/31935374681_566518376a.jpg 500w, https://farm1.staticflickr.com/434/31935374681_566518376a_z.jpg 640w, https://farm1.staticflickr.com/434/31935374681_566518376a_c.jpg 800w, https://farm1.staticflickr.com/434/31935374681_566518376a_b.jpg 1024w, https://farm1.staticflickr.com/434/31935374681_ab482c7d88_h.jpg 1600w, https://farm1.staticflickr.com/434/31935374681_221239bdc5_k.jpg 2048w" %}
      </div>
      <div class="col-md-6">
        {% include image.html
        loc="https://farm1.staticflickr.com/484/31905027442_b642ef7867_n.jpg"
        alt="Canvera Album"
        datasrcset="https://farm1.staticflickr.com/484/31905027442_b642ef7867_n.jpg 320w, https://farm1.staticflickr.com/484/31905027442_b642ef7867.jpg 500w, https://farm1.staticflickr.com/484/31905027442_b642ef7867_z.jpg 640w, https://farm1.staticflickr.com/484/31905027442_b642ef7867_c.jpg 800w, https://farm1.staticflickr.com/484/31905027442_b642ef7867_b.jpg 1024w, https://farm1.staticflickr.com/484/31905027442_8b2ea8e9db_h.jpg 1600w, https://farm1.staticflickr.com/484/31905027442_f5cbdfacbb_k.jpg 2048w" %}
      </div>
    </div>

    <p>Yes, you can take this to the Mapusa Market. And, if you leave the album at home, a lot of vegetables will fit into that jute bag. But I guess you would not want to do that. Okay, now let's see what's inside the bag.</p>

    {% include image.html
    loc="https://farm1.staticflickr.com/675/31243248293_b60a1c3697_n.jpg"
    alt="Canvera Album"
    datasrcset="https://farm1.staticflickr.com/675/31243248293_b60a1c3697_n.jpg 320w, https://farm1.staticflickr.com/675/31243248293_b60a1c3697.jpg 500w, https://farm1.staticflickr.com/675/31243248293_b60a1c3697_z.jpg 640w, https://farm1.staticflickr.com/675/31243248293_b60a1c3697_c.jpg 800w, https://farm1.staticflickr.com/675/31243248293_b60a1c3697_b.jpg 1024w, https://farm1.staticflickr.com/675/31243248293_c6870ab701_h.jpg 1600w, https://farm1.staticflickr.com/675/31243248293_bb9eabd1b5_k.jpg 2048w" %}

    {% include image.html
    loc="https://farm1.staticflickr.com/298/32053014335_ed0cccf6b1_n.jpg"
    alt="Canvera Album"
    datasrcset="https://farm1.staticflickr.com/298/32053014335_ed0cccf6b1_n.jpg 320w, https://farm1.staticflickr.com/298/32053014335_ed0cccf6b1.jpg 500w, https://farm1.staticflickr.com/298/32053014335_ed0cccf6b1_z.jpg 640w, https://farm1.staticflickr.com/298/32053014335_ed0cccf6b1_c.jpg 800w, https://farm1.staticflickr.com/298/32053014335_ed0cccf6b1_b.jpg 1024w, https://farm1.staticflickr.com/298/32053014335_def2c37472_h.jpg 1600w, https://farm1.staticflickr.com/298/32053014335_75d8ec2789_k.jpg 2048w" %}

    <p>A nice cute box with your names on it.</p>

    <div class="row">
      <div class="col-md-6">
        {% include image.html
        loc="https://farm1.staticflickr.com/592/31904984862_cfa1c57c9a_n.jpg"
        alt="Canvera Album"
        datasrcset="https://farm1.staticflickr.com/592/31904984862_cfa1c57c9a_n.jpg 320w, https://farm1.staticflickr.com/592/31904984862_cfa1c57c9a.jpg 500w, https://farm1.staticflickr.com/592/31904984862_cfa1c57c9a_z.jpg 640w, https://farm1.staticflickr.com/592/31904984862_cfa1c57c9a_c.jpg 800w, https://farm1.staticflickr.com/592/31904984862_cfa1c57c9a_b.jpg 1024w, https://farm1.staticflickr.com/592/31904984862_d17ea353d2_h.jpg 1600w, https://farm1.staticflickr.com/592/31904984862_31387794b7_k.jpg 2048w" %}
      </div>
      <div class="col-md-6">
        {% include image.html
        loc="https://farm1.staticflickr.com/543/31904974862_37f8d46ac4_n.jpg"
        alt="Canvera Album"
        datasrcset="https://farm1.staticflickr.com/543/31904974862_37f8d46ac4_n.jpg 320w, https://farm1.staticflickr.com/543/31904974862_37f8d46ac4.jpg 500w, https://farm1.staticflickr.com/543/31904974862_37f8d46ac4_z.jpg 640w, https://farm1.staticflickr.com/543/31904974862_37f8d46ac4_c.jpg 800w, https://farm1.staticflickr.com/543/31904974862_37f8d46ac4_b.jpg 1024w, https://farm1.staticflickr.com/543/31904974862_e854903175_h.jpg 1600w, https://farm1.staticflickr.com/543/31904974862_ef28b31b7a_k.jpg 2048w" %}
      </div>
    </div>

    <p>And that's the album inside the box. The real deal.</p>

    {% include image.html
    loc="https://farm1.staticflickr.com/388/31904956642_b69bf46fb0_n.jpg"
    alt="Canvera Album"
    datasrcset="https://farm1.staticflickr.com/388/31904956642_b69bf46fb0_n.jpg 320w, https://farm1.staticflickr.com/388/31904956642_b69bf46fb0.jpg 500w, https://farm1.staticflickr.com/388/31904956642_b69bf46fb0_z.jpg 640w, https://farm1.staticflickr.com/388/31904956642_b69bf46fb0_c.jpg 800w, https://farm1.staticflickr.com/388/31904956642_b69bf46fb0_b.jpg 1024w, https://farm1.staticflickr.com/388/31904956642_682acd2e8f_h.jpg 1600w, https://farm1.staticflickr.com/388/31904956642_904fef3c84_k.jpg 2048w" %}

    {% include image.html
    loc="https://farm1.staticflickr.com/776/31935292801_38f8c85e6e_n.jpg"
    alt="Canvera Album"
    datasrcset="https://farm1.staticflickr.com/776/31935292801_38f8c85e6e_n.jpg 320w, https://farm1.staticflickr.com/776/31935292801_38f8c85e6e.jpg 500w, https://farm1.staticflickr.com/776/31935292801_38f8c85e6e_z.jpg 640w, https://farm1.staticflickr.com/776/31935292801_38f8c85e6e_c.jpg 800w, https://farm1.staticflickr.com/776/31935292801_38f8c85e6e_b.jpg 1024w, https://farm1.staticflickr.com/776/31935292801_c9a96f0e27_h.jpg 1600w, https://farm1.staticflickr.com/776/31935292801_e50950e160_k.jpg 2048w" %}

    {% include image.html
    loc="https://farm1.staticflickr.com/568/32014036526_e6e1c20b48_n.jpg"
    alt="Canvera Album"
    datasrcset="https://farm1.staticflickr.com/568/32014036526_e6e1c20b48_n.jpg 320w, https://farm1.staticflickr.com/568/32014036526_e6e1c20b48.jpg 500w, https://farm1.staticflickr.com/568/32014036526_e6e1c20b48_z.jpg 640w, https://farm1.staticflickr.com/568/32014036526_e6e1c20b48_c.jpg 800w, https://farm1.staticflickr.com/568/32014036526_e6e1c20b48_b.jpg 1024w, https://farm1.staticflickr.com/568/32014036526_ebee4344fc_h.jpg 1600w, https://farm1.staticflickr.com/568/32014036526_e6c0631262_k.jpg 2048w" %}

    <p>Now, let's take a peek inside.</p>

    {% include image.html
    loc="https://farm1.staticflickr.com/461/31243134893_63ae787e7e_n.jpg"
    alt="Canvera Album"
    datasrcset="https://farm1.staticflickr.com/461/31243134893_63ae787e7e_n.jpg 320w, https://farm1.staticflickr.com/461/31243134893_63ae787e7e.jpg 500w, https://farm1.staticflickr.com/461/31243134893_63ae787e7e_z.jpg 640w, https://farm1.staticflickr.com/461/31243134893_63ae787e7e_c.jpg 800w, https://farm1.staticflickr.com/461/31243134893_63ae787e7e_b.jpg 1024w, https://farm1.staticflickr.com/461/31243134893_8472bf5425_h.jpg 1600w, https://farm1.staticflickr.com/461/31243134893_efeb3d27bf_k.jpg 2048w" %}

    <p>We keep our designs simple. White borders and photographs. No fancy text running through the pages. No clipart from Microsoft Word, cupids, hearts and all that other jazz.</p>

    <div class="row">
      <div class="col-md-6">
        {% include image.html
        loc="https://farm1.staticflickr.com/531/31935243751_15c51a9c3a_n.jpg"
        alt="Canvera Album"
        datasrcset="https://farm1.staticflickr.com/531/31935243751_15c51a9c3a_n.jpg 320w, https://farm1.staticflickr.com/531/31935243751_15c51a9c3a.jpg 500w, https://farm1.staticflickr.com/531/31935243751_15c51a9c3a_z.jpg 640w, https://farm1.staticflickr.com/531/31935243751_15c51a9c3a_c.jpg 800w, https://farm1.staticflickr.com/531/31935243751_15c51a9c3a_b.jpg 1024w, https://farm1.staticflickr.com/531/31935243751_ff3132ad21_h.jpg 1600w, https://farm1.staticflickr.com/531/31935243751_a77a931747_k.jpg 2048w" %}
      </div>
      <div class="col-md-6">
        {% include image.html
        loc="https://farm1.staticflickr.com/299/31935229731_23459a6493_n.jpg"
        alt="Canvera Album"
        datasrcset="https://farm1.staticflickr.com/299/31935229731_23459a6493_n.jpg 320w, https://farm1.staticflickr.com/299/31935229731_23459a6493.jpg 500w, https://farm1.staticflickr.com/299/31935229731_23459a6493_z.jpg 640w, https://farm1.staticflickr.com/299/31935229731_23459a6493_c.jpg 800w, https://farm1.staticflickr.com/299/31935229731_23459a6493_b.jpg 1024w, https://farm1.staticflickr.com/299/31935229731_d63800d61d_h.jpg 1600w, https://farm1.staticflickr.com/299/31935229731_e68af261e5_k.jpg 2048w" %}
      </div>
    </div>

    <p>Good lord, look at that full page photo.</p>

    {% include image.html
    loc="https://farm1.staticflickr.com/425/31904852342_15e665f299_n.jpg"
    alt="Canvera Album"
    datasrcset="https://farm1.staticflickr.com/425/31904852342_15e665f299_n.jpg 320w, https://farm1.staticflickr.com/425/31904852342_15e665f299.jpg 500w, https://farm1.staticflickr.com/425/31904852342_15e665f299_z.jpg 640w, https://farm1.staticflickr.com/425/31904852342_15e665f299_c.jpg 800w, https://farm1.staticflickr.com/425/31904852342_15e665f299_b.jpg 1024w, https://farm1.staticflickr.com/425/31904852342_fd708cf20a_h.jpg 1600w, https://farm1.staticflickr.com/425/31904852342_df4f3f5cd8_k.jpg 2048w" %}

    {% include image.html
    loc="https://farm1.staticflickr.com/327/31935203311_c0d46f0561_n.jpg"
    alt="Canvera Album"
    datasrcset="https://farm1.staticflickr.com/327/31935203311_c0d46f0561_n.jpg 320w, https://farm1.staticflickr.com/327/31935203311_c0d46f0561.jpg 500w, https://farm1.staticflickr.com/327/31935203311_c0d46f0561_z.jpg 640w, https://farm1.staticflickr.com/327/31935203311_c0d46f0561_c.jpg 800w, https://farm1.staticflickr.com/327/31935203311_c0d46f0561_b.jpg 1024w, https://farm1.staticflickr.com/327/31935203311_fb78c68a1f_h.jpg 1600w, https://farm1.staticflickr.com/327/31935203311_ed5df36f01_k.jpg 2048w" %}

    <p>Dapper. Yes.</p>

    <p>Alright, I'll leave you with these standard Indian size 5 sandals to scale. Do note that the album design and colors may vary to some extent. But you get the idea. Also, the colors in this post may not be the exact representation of the final product. I'll update this page with more photos once I get hold of more albums.</p>

    <p>Thank you for your time.</p>

    {% include image.html
    loc="https://farm1.staticflickr.com/766/32013962426_80c8d67153_n.jpg"
    alt="Canvera Album"
    datasrcset="https://farm1.staticflickr.com/766/32013962426_80c8d67153_n.jpg 320w, https://farm1.staticflickr.com/766/32013962426_80c8d67153.jpg 500w, https://farm1.staticflickr.com/766/32013962426_80c8d67153_z.jpg 640w, https://farm1.staticflickr.com/766/32013962426_80c8d67153_c.jpg 800w, https://farm1.staticflickr.com/766/32013962426_80c8d67153_b.jpg 1024w, https://farm1.staticflickr.com/766/32013962426_db8c21e717_h.jpg 1600w, https://farm1.staticflickr.com/766/32013962426_dc384039eb_k.jpg 2048w" %}
  </div>
</section>
</div>