---
layout: post
title: Frequently Asked Questions - Wedding Photography, Goa
h1: Frequently Asked Questions
permalink: /faq/
comments: false

image:
  main: https://farm6.staticflickr.com/5311/14285658873_32c6a9dd39.jpg
  datasrcset: 'https://farm6.staticflickr.com/5311/14285658873_32c6a9dd39_n.jpg 320w, https://farm6.staticflickr.com/5311/14285658873_32c6a9dd39.jpg 500w, https://farm6.staticflickr.com/5311/14285658873_32c6a9dd39_z.jpg 640w, https://farm6.staticflickr.com/5311/14285658873_32c6a9dd39_c.jpg 800w, https://farm6.staticflickr.com/5311/14285658873_32c6a9dd39_b.jpg 1024w, https://farm6.staticflickr.com/5311/14285658873_faa1303bc3_h.jpg 1600w'
---
<style>
  dl {
    margin-bottom: 60px;
    font-size: 0.75rem;
    margin: 15px 0 70px 0;
  }
  dd {
    margin-bottom:15px;
  }
</style>

<div class="container" id="faq">
  <section class="row justified">
    <div class="col-lg-12">
      <h1>{{ page.h1 }}</h1>
      <p>Amazing! I’m glad you reached here. This section aims at addressing some questions you might have, and to clear those doubts. There are also some very stupid questions, but I’ve been forced to add those, please don’t feel like I’m challenging your intelligence. <small>This page has been last updated on Feb 12, 2017.</small></p>

      {% include image.html
        loc="https://farm6.staticflickr.com/5809/30305607743_6e483e0d3e_n.jpg"
        alt="Baby J &amp; Baby Brielle"
        datasrcset="https://farm6.staticflickr.com/5809/30305607743_6e483e0d3e_n.jpg 320w, https://farm6.staticflickr.com/5809/30305607743_6e483e0d3e.jpg 500w, https://farm6.staticflickr.com/5809/30305607743_6e483e0d3e_z.jpg 640w, https://farm6.staticflickr.com/5809/30305607743_6e483e0d3e_c.jpg 800w, https://farm6.staticflickr.com/5809/30305607743_6e483e0d3e_b.jpg 1024w, https://farm6.staticflickr.com/5809/30305607743_42da72470a_h.jpg 1600w, https://farm6.staticflickr.com/5809/30305607743_3d3966d6b9_k.jpg 2048w" %}

      <h2>Style of work</h2>
      <dl>
        <dt>Do you work individually or do you have a team of photographers?</dt>
        <dd><del datetime="2016-09-29T14:36:57+00:00">I work alone. Sometimes, I hire another (good, not just any random) photographer to assist, if the client insists on it or if I feel I may not be able to cover the wedding alone.</del><br>
        I have this really cool chap, <a href="https://warren.asia/" target="_blank">Warren Rodrigues</a> who shoots along with me. So there are two of us shooting your wedding now.</dd>
        <dt>Will you make us pose like clowns and do goofy stuff?</dt>
        <dd>Mostly not. But if you want some fancy/funny shots captured, all you need to do is ask. Most of the time you will not notice me while I work. I will not be in your face all the time, nor will I be pushing people around to capture photos, etc. You will find me lurking around some corner, but fear not, I shall be doing my job. Having mentioned that, I will make sure to get shots of the couple and a group shot(s) of the family/friends and entourage.</dd>
        <dt>How else would you describe your style of work?</dt>
        <dd>My main goal is to document your wedding without orchestrating or directing it, or telling you what to do. <strong>It is your wedding, not a riot.</strong> You do what you want, proceed at your own pace and don’t have to worry or depend on some crazy photographer, making you act like a monkey and telling you what you should do.</dd>
      </dl>

      {% include image.html
        loc="https://farm8.staticflickr.com/7288/16522482916_fe282edcfb_n.jpg"
        alt="Daria + Abhishek - Wedding, Goa"
        datasrcset="https://farm8.staticflickr.com/7288/16522482916_fe282edcfb_n.jpg 320w, https://farm8.staticflickr.com/7288/16522482916_fe282edcfb.jpg 500w, https://farm8.staticflickr.com/7288/16522482916_fe282edcfb_z.jpg 640w, https://farm8.staticflickr.com/7288/16522482916_fe282edcfb_c.jpg 800w, https://farm8.staticflickr.com/7288/16522482916_fe282edcfb_b.jpg 1024w, https://farm8.staticflickr.com/7288/16522482916_f0f3e8d381_h.jpg 1600w" %}

      <h2>Pricing</h2>
      <dl>
        <dt>How do you price your work?</dt>
        <dd>I charge by the hour while shooting and for every photo you select. Album and travel costs will be added too, if required.</dd>
        <dt>Why do you charge by the hour and per photo?</dt>
        <dd>Over the course of time, I’ve noticed that a few clients do not value your time if you do not charge by the hour. They make you come way earlier and make you wait way longer than the actual scheduled time. Hence the hourly charges. Each photo selected is then worked on (post processing) later and hence the per photo price.</dd>
        <dt>Why don’t you provide a complete package instead?</dt>
        <dd>Breaking it up in the above manner (per hour and per photo) enables you (the client) to customize the work according to your liking and be able to avail of my services without having a hole burnt into your wallet.</dd>
        <dt>I’m on a very tight budget, will I get a discount?</dt>
        <dd>No. On a lighter note, and if you have the time to kill, do watch this <a href="https://youtu.be/R2a8TRSgzZY" data-rel="lightbox-video-0" target="_blank">video</a>.</dd>
        <dt>I contacted another photographer and he is charging way lower than you. Can you match his price?</dt>
        <dd>No, I cannot and will not match his price for the quality of work that I’m providing.</dd>
        <dt>When and how do we pay you?</dt>
        <dd>In order to freeze the day, you would need to transfer some percentage of the amount as an advance so that I can block the date for you. The sooner you do this, the better it will be for the both of us, as I will have to keep gear ready, book tickets, plan, etc. I would expect another percentage once I’m done shooting your wedding. The rest of the payment can be done once I’ve completed all your work and delivered the goodies. You can make payments in any manner that is convenient to you.</dd>
      </dl>

      {% include image.html
      loc="https://farm9.staticflickr.com/8211/8450199771_ed6e74e4e0_n.jpg"
      alt="Samantha &amp; Brijesh - Wedding (Mangalore)"
      datasrcset="https://farm9.staticflickr.com/8211/8450199771_ed6e74e4e0_n.jpg 320w, https://farm9.staticflickr.com/8211/8450199771_ed6e74e4e0.jpg 500w, https://farm9.staticflickr.com/8211/8450199771_ed6e74e4e0_z.jpg 640w, https://farm9.staticflickr.com/8211/8450199771_ed6e74e4e0_c.jpg 800w, https://farm9.staticflickr.com/8211/8450199771_ed6e74e4e0_b.jpg 1024w, https://farm9.staticflickr.com/8211/8450199771_aaa6c463fb_h.jpg 1600w" %}

      <h2>Photographs</h2>
      <dl>
        <dt>How many photos will you shoot and how many will I get?</dt>
        <dd>On an average (all approximate values), I shoot around 600 to 1000 photos during a wedding. Which I will then cut down to about 400 to 800 photos since most shots are duplicates (and the some which are not too great). You can select as many as you want. But remember, you will be paying per photo.</dd>
        <dt>Will you provide me with digital copies?</dt>
        <dd>Yes, you will receive JPEG files of the photos that you select. Two copies of each photo. One that you can use for printing and the other for online use like social media. Remember, you will be paying per photo and not per copy. So if you chose a photograph of Uncle Bob shooting the Parish priest, you shall receive a high resolution copy of it for printing and a lower resolution photo of it to share with your friends online or to hand over to the cops.</dd>
        <dt>How will I receive these files?</dt>
        <dd>The photos that you select will be uploaded on Flickr and Google+ (both private albums). You can use these to share with your family and friends. The photos shall be stored here permanently. I shall also upload the photos on Google Drive via which you can download and keep copies. The copies on Google Drive will be deleted eventually in a year or so in order to free up my storage space. I shall provide the digital copies on a DVD on request.</dd>
        <dt>Will I get the RAW files?</dt>
        <dd>No.</dd>
        <dt>Why not?</dt>
        <dd>RAW file are unedited/unfinished work and would not be the best representation of my final output.</dd>
        <dt>Will my photographs be used on any social media platform?</dt>
        <dd>Yes, I will use a small number of your photos to promote my work on social media like Facebook, Flickr, Google+, my personal website, etc. I may also use your photos for competitions like the “Wedding Photographer Of The Year”, etc if required. In order to respect your privacy, I will keep the albums private on request.</dd>
        <dt>Will you edit out the scar on my face and make me look like a Victoria’s Secret model?</dt>
        <dd>No. I won’t do any extreme ‘photoshopping’ of photos. Post-processing would mostly involve exposure, color, white-balance corrections, and other local edits to make the photographs pop.</dd>
      </dl>

      {% include image.html
      loc="https://farm1.staticflickr.com/327/31935203311_c0d46f0561_n.jpg"
      alt="Canvera Album"
      datasrcset="https://farm1.staticflickr.com/327/31935203311_c0d46f0561_n.jpg 320w, https://farm1.staticflickr.com/327/31935203311_c0d46f0561.jpg 500w, https://farm1.staticflickr.com/327/31935203311_c0d46f0561_z.jpg 640w, https://farm1.staticflickr.com/327/31935203311_c0d46f0561_c.jpg 800w, https://farm1.staticflickr.com/327/31935203311_c0d46f0561_b.jpg 1024w, https://farm1.staticflickr.com/327/31935203311_fb78c68a1f_h.jpg 1600w, https://farm1.staticflickr.com/327/31935203311_ed5df36f01_k.jpg 2048w" %}

      <h2>Album</h2>
      <dl>
        <dt>What kind of album will we get?</dt>
        <dd>Your memories will now be stored in a <a href="{{ site.baseurl }}/canvera-wedding-album/" target="_blank">12X12 Hard Cover Luxury Neo Flush Mount Album</a> by Canvera.</dd>
        <dt>How much will it cost me to get the album printed?</dt>
        <dd>The album costs could vary from around INR 5000 to INR 15000. The amount would depend on the number of pages, type of album and delivery charges.</dd>
      </dl>

      {% include image.html
        loc="https://farm4.staticflickr.com/3923/14930548719_86f4daf188_n.jpg"
        alt="Keerthi &amp; Dhiraj"
        datasrcset="https://farm4.staticflickr.com/3923/14930548719_86f4daf188_n.jpg 320w, https://farm4.staticflickr.com/3923/14930548719_86f4daf188.jpg 500w, https://farm4.staticflickr.com/3923/14930548719_86f4daf188_z.jpg 640w, https://farm4.staticflickr.com/3923/14930548719_86f4daf188_c.jpg 800w, https://farm4.staticflickr.com/3923/14930548719_86f4daf188_b.jpg 1024w, https://farm4.staticflickr.com/3923/14930548719_e62818aa92_h.jpg 1600w" %}

      <h2>Travel and Accommodation</h2>
      <dl>
        <dt>How much would your travel costs come up to?</dt>
        <dd>Right now I’m based in <del datetime="2013-12-15T07:29:54+00:00">Hyderabad</del> Goa, so travel and accommodation costs would need to be added too. I normally keep a cap of INR 6000 (as I don’t want you to feel ripped off) for my return journey. I prefer to fly to save time, but I’m willing to travel by bus in case the air fares are way too high.</dd>
        <dt>What about your accommodation?</dt>
        <dd>I normally leave this up to the client. I don’t need any fancy place. As long as the the place is safe, has charging points for my batteries and has a roof, I’m good. It would be great if there is a place to eat nearby too. If I could have slept on a bench in a makeshift hospital in Uttar Pradesh in the freezing cold, then I can sleep anywhere. But hey, don’t exploit me! 
        </dd><dt>What about weddings in Goa?</dt>
        <dd><del datetime="2017-02-11T06:37:59+00:00">I’ll not need accommodation as I have a roof there. Travel costs will be divided between multiple weddings, if any, considering most of them are during the Christmas season. If I’m already in Goa during your wedding, then I shall cut out the travel costs too.</del><br>
        I’m back in Goa now. So we can ignore this point.</dd>
      </dl>

      {% include image.html
        loc="https://farm8.staticflickr.com/7210/6904523667_a189b9bbda_n.jpg"
        alt="Abigail &amp; Tushar"
        caption=""
        datasrcset="https://farm8.staticflickr.com/7210/6904523667_a189b9bbda_n.jpg 320w, https://farm8.staticflickr.com/7210/6904523667_a189b9bbda.jpg 500w, https://farm8.staticflickr.com/7210/6904523667_a189b9bbda_z.jpg 640w, https://farm8.staticflickr.com/7210/6904523667_a189b9bbda_b.jpg 960w" %}

      <h2>Have more questions? Just <a href="{{ site.baseurl }}/contact/">shoot me a mail</a>.</h2>
    </div>
  </section>
</div>