<div class="row" style="height:60vw">
  <header id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      {% include image.html
      loc="https://farm8.staticflickr.com/7371/27343117130_0dd6b6495b_n.jpg"
      alt="2016 Summer XC - Race #3"
      datasrcset="https://farm8.staticflickr.com/7371/27343117130_0dd6b6495b_n.jpg 320w, https://farm8.staticflickr.com/7371/27343117130_0dd6b6495b.jpg 500w, https://farm8.staticflickr.com/7371/27343117130_0dd6b6495b_z.jpg 640w, https://farm8.staticflickr.com/7371/27343117130_0dd6b6495b_c.jpg 800w, https://farm8.staticflickr.com/7371/27343117130_0dd6b6495b_b.jpg 1024w, https://farm8.staticflickr.com/7371/27343117130_a6ea0a06c5_h.jpg 1600w, https://farm8.staticflickr.com/7371/27343117130_c31687fabf_k.jpg 2048w" %}
      <div class="carousel-caption">
        <h2>Summer XC 2016</h2>
      </div>
    </div>
    <div class="item">
      {% include image.html
      loc="https://farm2.staticflickr.com/1515/25321487096_7ff4ae56e5_n.jpg"
      alt="Raisa + Nahvin - Engagement, Goa"
      datasrcset="https://farm2.staticflickr.com/1515/25321487096_7ff4ae56e5_n.jpg 320w, https://farm2.staticflickr.com/1515/25321487096_7ff4ae56e5.jpg 500w, https://farm2.staticflickr.com/1515/25321487096_7ff4ae56e5_z.jpg 640w, https://farm2.staticflickr.com/1515/25321487096_7ff4ae56e5_c.jpg 800w, https://farm2.staticflickr.com/1515/25321487096_7ff4ae56e5_b.jpg 1024w, https://farm2.staticflickr.com/1515/25321487096_91649d9baf_h.jpg 1600w" %}
      <div class="carousel-caption">
        <h2>Raisa &amp; Nashvin &mdash; Engagement</h2>
      </div>
    </div>
    <div class="item">
      {% include image.html
      loc="https://farm8.staticflickr.com/7577/15981528749_0db0ef65ab_n.jpg"
      alt="Gojira (Live at the IMF)"
      datasrcset="https://farm8.staticflickr.com/7577/15981528749_0db0ef65ab_n.jpg 320w, https://farm8.staticflickr.com/7577/15981528749_0db0ef65ab.jpg 500w, https://farm8.staticflickr.com/7577/15981528749_0db0ef65ab_z.jpg 640w, https://farm8.staticflickr.com/7577/15981528749_0db0ef65ab_c.jpg 800w, https://farm8.staticflickr.com/7577/15981528749_0db0ef65ab_b.jpg 1024w, https://farm8.staticflickr.com/7577/15981528749_ed3ea69de3_h.jpg 1600w" %}
      <div class="carousel-caption">
        <h2>Gojira &mdash; Indian Metal Festival</h2>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</header>
</div>