<div class="container-fluid">
<footer class="row" class="col-lg-12">
  <div id="social-icons">{% include social-icons.html %}</div>
  <div id="footer-text-div"><p>Copyright 2006 &ndash; {{ 'now' | date: "%Y" }} &copy; Lovell D&#039;souza. All Rights Reserved.</p></div>
</footer>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/lazysizes.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.justifiedGallery.min.js"></script>
<script src="{{ site.baseurl }}/assets/lightbox2/js/lightbox.min.js"></script>
<script src="https://happyfeet.us/assets/js/lazysizes.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/common.js"></script>