<nav id="nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Weddings <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/weddings/">Portfolio</a></li>
            <li><a href="{{ site.baseurl }}/reviews/">Reviews</a></li>
            <li><a href="{{ site.baseurl }}/faq/">FAQ's</a></li>
            <div class="dropdown-divider"></div>
            <li><a href="{{ site.baseurl }}/canvera-wedding-album/">Album</a></li>
            <li><a href="{{ site.baseurl }}/contact/">Contact</a>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Photographs <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/coupleshoots/">Couple Shoots</a></li>
            <li><a href="{{ site.baseurl }}/familyshoots/">Family Shoots</a></li>
            <li><a href="{{ site.baseurl }}/engagements/">Engagements</a></li>
            <li><a href="{{ site.baseurl }}/photos/">Photos</a></li>  
            <li><a href="{{ site.baseurl }}/people/">People</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Other <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/publishedwork/">Published Work</a></li>
            <li><a href="{{ site.baseurl }}/metalgigs/">Metal Gigs</a></li>
            <li><a href="{{ site.baseurl }}/timelapses/">Timelapses</a></li>
            <li><a href="{{ site.baseurl }}/thoughts/">Thoughts</a></li>
            <li><a href="{{ site.baseurl }}/rants/">Rants</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/webdev/">Web Development</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
        <li><a href="{{ site.baseurl }}/contact/">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>