<h3>Find me on the Interwebs!</h3>
<a target="_blank" title="Flickr" href="https://www.flickr.com/photos/lovelldies" class="icon-button flickr"><i class="icon-flickr"></i><span></span></a>
<a target="_blank" title="Twitter" href="https://twitter.com/lovelldies" href="https://twitter.com/minimalmonkey" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
<a target="_blank" title="Instagram" href="https://www.instagram.com/lovell/" class="icon-button instagram"><i class="icon-instagram"></i><span></span></a>
<a target="_blank" title="Facebook" href="https://www.facebook.com/lovelldsouzaphotography/" href="https://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
<a target="_blank" title="Googleplus" href="https://plus.google.com/+LovellDsouza" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
<a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/lovelldsouza/" class="icon-button linkedin"><i class="icon-linkedin"></i><span></span></a>
<a target="_blank" title="YouTube" href="https://www.youtube.com/user/lovelldies" class="icon-button youtube"><i class="icon-youtube"></i><span></span></a>