---
layout: post
categories: thoughts

title: Last Day at Google

image:
  main: https://farm4.staticflickr.com/3677/9684209907_3df7585e3c.jpg
  datasrcset: 'https://farm4.staticflickr.com/3677/9684209907_3df7585e3c_n.jpg 320w, https://farm4.staticflickr.com/3677/9684209907_3df7585e3c.jpg 500w, https://farm4.staticflickr.com/3677/9684209907_3df7585e3c_z.jpg 640w, https://farm4.staticflickr.com/3677/9684209907_3df7585e3c_c.jpg 800w, https://farm4.staticflickr.com/3677/9684209907_3df7585e3c_b.jpg 1024w, https://farm4.staticflickr.com/3677/9684209907_30843906e9_h.jpg 1600w, https://farm4.staticflickr.com/3677/9684209907_be69dae606_k.jpg 2048w'

excerpt: Today is my last day at Google. Six cool years and a month. It's time to move on, try out new things &amp; experiment with that thing you have, called life.
tags: [ Amazing, Bye, Fun, Google, Hyderabad, Last Day, Lovell, People ]

date: 2013-08-07T00:46:16+00:00
modified: 2015-02-07T15:10:14+00:00
---
<style>
.post img {
  border: 0;
  max-width: 1024px;
}
</style>

<div class="container" id="faq">
  <section class="row">
    <div class="col-lg-12 post">
      <h1>{{ page.title }}</h1>
      <p>Today is my last day at Google.</p>

      <center>{% include image.html
        loc="https://farm6.staticflickr.com/5089/5380809762_791a5e88f0_n.jpg"
        alt="I am smart!"
        datasrcset="https://farm6.staticflickr.com/5089/5380809762_791a5e88f0_n.jpg 320w, https://farm6.staticflickr.com/5089/5380809762_791a5e88f0.jpg 500w, https://farm6.staticflickr.com/5089/5380809762_791a5e88f0_z.jpg 640w, https://farm6.staticflickr.com/5089/5380809762_791a5e88f0_b.jpg 1024w" %}</center>

      <p>Yup, six cool years and one month. It’s time to move on. Time to try out new things. Time to experiment with that thing we have, called life.</p>

      <p>It all started on a nice and rainy Sunday afternoon in July, 2007 when I boarded a flight from Goa to Hyderabad. It was raining like crazy in Goa. The flight made a halt at Bombay and they allowed me to walk across a runway to catch a flight that was waiting to take me to Hyderabad. It was raining in Bombay too. The flight finally landed at the Begumpet airport sometime in the evening and there was a nice and happy cab driver waiting to drive me to the guest house. It was raining in Hyderabad.</p>

      <p>Now how I got here in the first place. My sweet friend, Danu Baby</p>

      <center>{% include image.html
        loc="https://farm3.staticflickr.com/2760/4497963046_c78cffccd0_n.jpg"
        alt="Danu Baby sips on her drink"
        datasrcset="https://farm3.staticflickr.com/2760/4497963046_c78cffccd0_n.jpg 320w, https://farm3.staticflickr.com/2760/4497963046_c78cffccd0.jpg 500w, https://farm3.staticflickr.com/2760/4497963046_c78cffccd0_z.jpg 640w, https://farm3.staticflickr.com/2760/4497963046_c78cffccd0_b.jpg 1024w" %}</center>

      <p>Forwards me an email from her cousin Nadine.</p>

      <center><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Head. is. exploding.</p>&mdash; Nadine (@nadineseq) <a href="https://twitter.com/nadineseq/status/357089512620433411">July 16, 2013</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>

      <p>Basically it was some junk email about the Queen. First of all, no one cares about the Queen. Secondly, I hate junk mail. Anyway, I let this pass and notice that the mighty Nadine is sporting a very nice @google.com email address. Now folks, that’s pretty ace and my 21-year-old brain is like, “You go girl. Nice email ID.” Imma get myself one of those @google.com email IDs.</p>

      <p>So I hit up Danu Baby on the good ‘ol classic Gtalk on Windows and ask her who this Nadine woman is and why is she showing off her @google.com email ID. And thus began one nice long chat session with Danu Baby and then next thing you know she makes sure my resume reaches Nadine and then Merry Christmas everyone, you got the job!!</p>

      <p>Okay, it wasn’t exactly like that. Some rounds of interviews, yada yada and then Merry Christmas everyone, you got the job!!</p>

      <p>So I tell my folks that I got a job at Google in some team called Search Quality and I’ll be headed to Hyderabad in a few weeks time.</p>

      <p>And that how I land up in Hyderabad on a nice rainy Sunday evening. At the guest house, the bearded me scares the living hell out of the girls there, who all assume that a guy with long hair and a beard might just be the next big serial killer. To make matters worse, they later realize that I’ll be part of their team and life is gonna be hell from now on.</p>

      <center><img class="img-responsive" src="https://farm8.staticflickr.com/7290/9451019891_248c39e838_o.jpg" width="604" height="453" alt="777 People" alt="777 People by Lovell D'souza, on Flickr"></center>

      <p>So that’s the bunch of us who joined together. Meghna, Pradnya, Neeti, Tejal and Me. There was Suneetha too, but she left midway, took a flight to the UK and never looked back.</p>

      <p>Work was awesome.</p>

      <center><img class="img-responsive" src="https://farm3.staticflickr.com/2527/4174288772_b542094e29_b.jpg" width="1024" height="683" alt="Water"></center>
      <center><img class="img-responsive" src="https://farm3.staticflickr.com/2622/4174291290_781a0f4e47_b.jpg" width="1024" height="683" alt="The John Paul"></center>
      <center><img class="img-responsive" src="https://farm3.staticflickr.com/2648/4173535021_262d9d90ff_b.jpg" width="1024" height="683" alt="Mukesh"></center>
      <center><img class="img-responsive" src="https://farm3.staticflickr.com/2505/4173538123_be086800a7_b.jpg" width="1024" height="683" alt="Extreme Expressions"></center>

      <p>Us bright minds always huddling up, having amazing life changing discussion on whether the iPhone</p>

      <center><img class="img-responsive" src="https://farm3.staticflickr.com/2636/4173543005_30dffc17da_b.jpg" width="1024" height="683" alt="Your Phone"></center>

      <p>Was better than the Nokia E71</p>

      <center><img class="img-responsive" src="https://farm5.staticflickr.com/4059/4334524216_ebeba98f42_b.jpg" width="1024" height="575" alt="Sight and Sound"></center>

      <p>We all knew that the iPhone stood no chance.</p>

      <p>Our parties were crazy.</p>

      <center><img class="img-responsive" src="https://farm5.staticflickr.com/4061/4351525240_a77116972f_b.jpg" width="1024" height="611" alt="The evidence"></center>
      <center><img class="img-responsive" src="https://farm3.staticflickr.com/2792/4350760365_92f5b9254a_b.jpg" width="1024" height="577" alt="The freaking cops"></center>
      <center><img class="img-responsive" src="https://farm5.staticflickr.com/4051/4381886427_43f9537624_b.jpg" width="1024" height="768" alt="The SQE Partay #2 Account"></center>

      <p>And our ad-hoc management abuse sessions were even crazier.</p>

      <center><img class="img-responsive" src="https://farm4.staticflickr.com/3408/4559980110_59657d19b4_b.jpg" width="1024" height="683" alt="Thone Strowing"></center>
      <center><img class="img-responsive" src="https://farm4.staticflickr.com/3097/4559983124_ce2f3b579a_b.jpg" width="1024" height="683" alt="Thone Strowing"></center>

      <p>But at the end of the day we were always good people, who would land up discussing Danny’s life whenever we had an opportunity.</p>

      {% include youtube.html id='NQ78xzwF53w' %}
      
      {% include youtube.html id='_iY1hlWx2FY' %}

      <p><i>Note: All these Danny videos are just false allegations. Danny is a nice chap. We are just bad people.</i></p>

      <p>At other times we just discussed Vignesh and Joshua instead.</p>

      {% include youtube.html id='aPNTUDVj7KQ' %}

      <p>There was this time when we had this amazing football team, that was unstoppable.</p>

      <center><img class="img-responsive" src="https://farm3.staticflickr.com/2791/4410557247_4993fa9689_o.jpg" width="780" height="579" alt="hDSC_0416"></center>

      <p>Which included Nachiket Kale. Who holds the record for winning a platinum cup without playing a single minute in the tournament.</p>

      <center><img class="img-responsive" src="https://farm5.staticflickr.com/4007/4411317454_3e45193342_o.jpg" width="1280" height="1025" alt="Google - Winner Platinum Cup"></center>

      <p>Counterstrike was a huge hit in the office at one time.</p>

      <center><img class="img-responsive" src="https://farm5.staticflickr.com/4126/4995071945_19cfe85269_b.jpg" width="1024" height="683" alt="00040"></center>

      <p>With this man doing a lot of damage, and me basking in the glory of being in his team.</p>

      <center><img class="img-responsive" src="https://farm6.staticflickr.com/5209/5305160295_3875d22bb8_b.jpg" width="1024" height="683" alt="IMG_7932"></center>

      <p>There was this one time when we went for this really exciting cricket match between some team from Hyderabad and another from Delhi.</p>

      <center><img class="img-responsive" src="https://farm5.staticflickr.com/4012/4468045790_40269b8fa4_b.jpg" width="1024" height="768" alt="And.. yawn..."></center>

      <p>There were just the two of us cheering for Delhi. Delhi won that night.</p>

      <center><img class="img-responsive" src="https://farm3.staticflickr.com/2757/4467269683_e93f5a4da5_b.jpg" width="1024" height="768" alt="The winner"></center>
      
      <p>And that’s what kinda happened over the years. With a lot more stuff in between that I might have missed out. All this was put together by browsing through photos I’ve backed up on <a href="https://www.flickr.com/photos/lovelldies/sets" alt="Lovell on Flickr!" target="_blank">my Flickr account</a> over these years. I shall now leave you with this nice photograph of a really happy Arijit Sarkar, who must be thinking, “Aren’t you guys happy that crazy man is leaving!”</p>

      <center><img class="img-responsive" src="https://farm9.staticflickr.com/8451/8012559722_bece8388a6_b.jpg" width="1024" height="683" alt="Arijit Sarkar"></center>

      <p>These 6+ years have been brilliant! I’ve interacted with some of the most intelligent people in this planet (and others too). The amount of knowledge that I’ve acquired in these years is more than what one could get from lectures in school or college. Everyone outside talks about how amazing the office is, the free food, the high speed internet, Facebook not being blocked, etc. But, that’s just ‘all that jazz’. The amount of resources available to read and learn is crazy! (Okay, you may have to be on the ‘eng’ group, else half the stuff might be blocked.)</p>

      <p>But, at the end of the day, you are sitting in a cubicle and that’s all you’ve been doing for the past years. Just sitting in a cubicle, going to work everyday, following the mob, sitting in traffic, being an ant. And that’s it.</p>

      <p>Yes, there is beauty in seeing your paycheck at the end of the month and thinking, “OMG, this is so amazing. These guys must really love me.” And yes there are a ton of perks and all, but then you are just confined to a box, interacting with the same people doing things that you may or may not love. We have all turned into machines. Machines, who are made to love designations, money, fame, bragging rights, etc.</p>

      {% include youtube.html id='3MxRIn-C4zU' %}
      <small>Link to the <a href="https://vimeo.com/65666763?width=1080" data-rel="lightbox-video-0" target="_blank">video on Vimeo</a> in case YouTube takes it off.</small>

      <p>Not that having money is bad. Collect money, collect tons of it. Money is always good.</p>

      <p>Which brings me to, <strong>what next?</strong>.</p>

      <p>The answer is <strong>nothing</strong>. Yes, nothing. It’s just going to be a year of risks and experiments, while doing what we love doing the most, that’s travelling. Oh wait, did I just say <strong>we</strong>? Well then, meet the <a href="https://click.lovelldsouza.com/blog/le-livre" target="_blank">Missus</a>.</p>

      <center><img class="img-responsive" src="https://farm4.staticflickr.com/3778/9275175539_fd55365b5d_b.jpg" width="1024" height="683" alt="Sunny Dreams"></center>

      <p>Now is the time to take risks. Coz think about it, if you don’t don’t do it now, when will you do it? Which brings me to a post I made earlier about <a href="https://www.lovelldsouza.com/thoughts/go-live-your-dream/" target="_blank">living your dream</a>. Read it.</p>

      <p>To the folks who crossed paths with me and made a difference, thank you! And that’s it. I’m done, I’m moving on. No more cubicle for me me anytime soon. Wish me luck.</p>

      <p>Danu Baby, I still owe you one. So much for my @google.com email ID.</p>
    </div>
  </section>
</div>