---
layout: post
categories: thoughts
title: Go Live Your Dream!

image:
  main: https://farm6.staticflickr.com/5548/31052201400_16a98e2571.jpg
  datasrcset: 'https://farm6.staticflickr.com/5548/31052201400_16a98e2571_n.jpg 320w, https://farm6.staticflickr.com/5548/31052201400_16a98e2571.jpg 500w, https://farm6.staticflickr.com/5548/31052201400_16a98e2571_z.jpg 640w, https://farm6.staticflickr.com/5548/31052201400_16a98e2571_c.jpg 800w, https://farm6.staticflickr.com/5548/31052201400_16a98e2571_b.jpg 1024w, https://farm6.staticflickr.com/5548/31052201400_9c20817a7c_h.jpg 1600w, https://farm6.staticflickr.com/5548/31052201400_825ba130bc_k.jpg 2048w'

excerpt: How would you ever know how things would turn out if you never even gave it a shot?
tags: [ Life, Dreams, Thoughts ]

date: 2013-05-26T00:04:35+00:00
modified: 2015-02-07T13:01:52+00:00
---

<div class="container" id="thoughts">
  <section class="row">
    <div class="col-lg-12">
      <h1>{{ page.title }}</h1>
      <p>Strange, isn’t it? That people are so cynical about taking any kind of ‘risks’. How would you ever know how things would turn out if you never even gave it a shot?</p>
      <p>How would you know how your life would be without even going out there and trying to live it? Such a shame. Okay, I can understand that you don’t take un-calculated risks. Like putting all your money in a stupid get-rich-quick scheme that everyone knows will crash.&nbsp;But in other cases, if you want to do something, just go do it. You might fail trying, but at least, you will have a story to tell.</p>
    </div>
  </section>
</div>

<div class="container post">
  <div class="row">
    <div class="col-lg-12">
      <a href="https://www.flickr.com/photos/25276331@N02/6273216998/" target="_blank">
        {% include image.html
        loc="https://farm7.staticflickr.com/6214/6273216998_bba4004928_n.jpg"
        alt="I feel it at the very end by Rona Keller, on Flickr."
        datasrcset="https://farm7.staticflickr.com/6214/6273216998_bba4004928_n.jpg 320w, https://farm7.staticflickr.com/6214/6273216998_bba4004928.jpg 500w, https://farm7.staticflickr.com/6214/6273216998_bba4004928_z.jpg 640w, https://farm7.staticflickr.com/6214/6273216998_bba4004928_b.jpg 1000w" %}
      </a>

      <p>As Mikey Smith puts it in the <strong>Dark Side of the Lens</strong>:</p>

      <blockquote>
        <p>For fires of happiness and waves of gratitude. For everything that brought us to that point on earth at that moment in time, to do something worth remembering with a photograph, or a scar. I feel genuinely lucky and hand on heart say I love doing what I do. And I may never be a rich man, or live long enough, then sadly I have a tale or two for the nephews. And I dig the thought of that.</p>
        <small>Full transcript on <cite title="Dark Side of the Lens transcript on Open Culture"><a href="http://www.openculture.com/2010/10/dark_side_of_the_lens.html" target="_blank" rel="nofollow">Open Culture</a></cite></small>
      </blockquote>

      <iframe src="https://player.vimeo.com/video/14074949" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <p>‘Society’ has reached a point where ridiculous amounts of importance is given to things like buying a house, owning a car, getting the latest phone, flatscreen TV and stuff like that.</p>

      <p><strong>Owning</strong> and <strong>Possessing</strong> is now a big part of being <strong>Successful</strong>. And success is now a measure of happiness. “Oh he earns this much, he must be happy!” And all this comes from years and years and years of conditioning by society to think this way. Which in turn messes with your ability to know or be anything else. You see what your parents, siblings, cousins, peers, colleagues do and you are expected to do things the same way. Everyone does it, so you need to do it too. Society is not open to change and society wants you to be a part of it.</p>

      <p>And, then you think, there must be nothing else. How will you ever know if you don’t read, ideate, or observe for yourself? You will never know that there could be another reality. A reality that you could create for yourself. And this is very very sad.</p>

      <p>Technically, you could set out to be a bee keeper. You could do it, if you want to. But society would not approve. Everyone wants you to be the doctor or the engineer. Or as the latest fad is, be the B School guy. Society wants you to pop babies because you are now 28. Society wants you to be married because you are now of a marriageable age. Society wants you to do this and society wants you to do that, because society is conditioned to operate in this streamlined manner. Everyone has to be a part of the same assembly line.</p>

      <a href="http://www.flickr.com/photos/richardsjgaston/5896756794/" target="_blank">
        {% include image.html
        loc="https://farm6.staticflickr.com/5034/5896756794_4640d3ea83_n.jpg"
        alt="Untitled by Richard Stewart James Gaston, on Flickr"
        datasrcset="https://farm6.staticflickr.com/5034/5896756794_4640d3ea83_n.jpg 320w, https://farm6.staticflickr.com/5034/5896756794_4640d3ea83.jpg 500w, https://farm6.staticflickr.com/5034/5896756794_4640d3ea83_z.jpg 640w, https://farm6.staticflickr.com/5034/5896756794_4640d3ea83_b.jpg 1024w, https://farm6.staticflickr.com/5034/5896756794_6b5ff4423b_o.jpg 1840w" %}
      </a>

      <p>You never hear of that cool guy from the village who wanted to take up farming. As a matter of fact, there <strong>was</strong> a cool guy from my village who during his holidays, would plough a field. Now, this happened right next to where I stay. I thought it was pretty neat. You could see this skinny guy in his teens trying to get a couple of bullocks moving around the field. Unfortunately, society thought he was out of his mind as his parents were a couple of reputed lawyers and everyone wondered what was wrong with him and also judged his parents for letting him do this.</p>

      <p>Everyone in the village were like, “Hey look! The lawyer’s son is ploughing the field.” And, they would laugh. Imagine, how retarded society is! A boy is toiling away in the field and enjoying what he is doing. How would he ever know what ploughing a field would feel like if he never even bothered to try?</p>

      <p>Society looks down on people who provide you services, without having a fancy air-conditioned office or computer in front of them. Society looks down on people who choose to be mechanics, electricians, plumbers, etc. They are skilled workers. They are of great service to you. But they are looked down upon just because they don’t have a fancy white-collar job, which involves making presentations and throwing around a load of horse shit to people in meeting rooms.</p>

      <a href="http://www.flickr.com/photos/80953058@N07/8791754267/" target="_blank">
        {% include image.html
          loc="https://farm8.staticflickr.com/7346/8791754267_7f8456e7d7_n.jpg"
          alt="The Night Sky by Jack PJ Summers, on Flickr"
          datasrcset="https://farm8.staticflickr.com/7346/8791754267_7f8456e7d7_n.jpg 320w, https://farm8.staticflickr.com/7346/8791754267_7f8456e7d7.jpg 500w, https://farm8.staticflickr.com/7346/8791754267_7f8456e7d7_z.jpg 640w, https://farm8.staticflickr.com/7346/8791754267_7f8456e7d7_c.jpg 800w, https://farm8.staticflickr.com/7346/8791754267_7f8456e7d7_b.jpg 1024w, https://farm8.staticflickr.com/7346/8791754267_c6106c6573_h.jpg 1600w, https://farm8.staticflickr.com/7346/8791754267_917bfd4162_k.jpg 2048w" %}
      </a>

      <p>It has reached a stage where staring at a computer screen and getting fat is more respectable then using your muscles, actual acumen and skill.</p>

      <p>So many of us have been conditioned to become these people because societywanted us to be so. If it wasn’t society, then it would have been your parents, peers, etc. So many of you conditioned into machines that you never set out to be. So many dreams killed. The time has come for you to snap out of it. And no one is getting any younger.</p>

      <a href="http://www.flickr.com/photos/varelaphotography/8609120736/" target="_blank">
        {% include image.html
        loc="https://farm9.staticflickr.com/8526/8609120736_b662557227_n.jpg"
        alt="Fragile dreams by Adriana Varela Photography, on Flickr"
        datasrcset="https://farm9.staticflickr.com/8526/8609120736_b662557227_n.jpg 320w, https://farm9.staticflickr.com/8526/8609120736_b662557227.jpg 500w, https://farm9.staticflickr.com/8526/8609120736_b662557227_z.jpg 640w, https://farm9.staticflickr.com/8526/8609120736_b662557227_c.jpg 800w, https://farm9.staticflickr.com/8526/8609120736_b662557227_b.jpg 1024w, https://farm9.staticflickr.com/8526/8609120736_38af4faff5_h.jpg 1600w" %}
      </a>

      <p>You may think, “Oh, let me work for a few years, make a ton of money and live my dream later.” Before you know it, later has come and gone and you are old, you have responsibilities that you don’t even know how you landed up with and you have successfully murdered your dreams.</p>

      <p>You need to let go off the comfort zone, all the safe routes, all the things that you have been told are the right things to do. You have to break away from the idea of what’s the right thing to do and instead go out there and do your own thing! Go out there, go live your dream!</p>

      <a href="http://www.flickr.com/photos/ronaaa/4847491762/" target="_blank">{% include image.html
        loc="https://farm5.staticflickr.com/4109/4847491762_0fbda12082_n.jpg"
        alt="Day sixty by the girl who made it on her own, on Flickr"
        datasrcset="https://farm5.staticflickr.com/4109/4847491762_0fbda12082_n.jpg 320w, https://farm5.staticflickr.com/4109/4847491762_0fbda12082.jpg 500w, https://farm5.staticflickr.com/4109/4847491762_0fbda12082_z.jpg 640w, https://farm5.staticflickr.com/4109/4847491762_0fbda12082_b.jpg 1024w" %}
      </a>

      <div class="well well-small center" style="margin-top:40px;font-size: 0.75rem;">Photo are some of the ones I liked on Flickr. Click on them to view them on the Flickr stream of the original artists.</div>
    </div>
  </div>
</div>